<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msgs.pageTitleFrontPage}</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink action="#{localeBean.setLanguage('fr', 'CA')}">
                <h:graphicImage library="images" name="ca_flag.gif"
                                style="border: 0px; margin-right: 1em;"/>
            </h:commandLink>            
            <h:commandLink action="#{localeBean.setLanguage('en', 'CA')}">
                <h:graphicImage library="images"
                                name="en_flag.gif" style="border: 0px"/>
            </h:commandLink>
            <br/><br/>
            <h:commandLink  value="#{msgs.signup}" action="signup"/> &nbsp; <h:commandLink value="#{msgs.signin}" action="signin"/>
            <br/><br/>
            #{msgs.purpose}
            <p:growl id="cal" showDetail="true" />
            <p:fieldset legend="#{msgs.moby}" toggleable="true" toggleSpeed="500">
                <p:ajax event="toggle"  update="cal"  />
                <p:layout style="min-width:600px;min-height:230px;">
                    <p:layoutUnit position="west" resizable="true" size="170" minSize="170" maxSize="300">
                        <h:commandLink id="moby" action="download">
                            <p:graphicImage name="images/mobyDick.jpg" />
                        </h:commandLink>
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p><h:outputText value="#{msgs.mobyTitle}"/></p>
                        <p/>
                        <p><h:outputText value="#{msgs.mobyAuthor}"/></p>
                        <p/>
                        <p><h:outputText value="#{msgs.mobyPublication}"/></p>
                    </p:layoutUnit>
                </p:layout>
            </p:fieldset>
            <br/>
            <p:fieldset legend="#{msgs.alice}" toggleable="true" toggleSpeed="500">
                <p:ajax event="toggle" update="cal"  />
                <p:layout style="min-width:600px;min-height:230px;">
                    <p:layoutUnit position="west" resizable="true" size="170" minSize="170" maxSize="300">
                        <h:commandLink id="alice" action="download">
                            <p:graphicImage name="images/aliceWonderland.jpg" />
                        </h:commandLink>
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p><h:outputText value="#{msgs.aliceTitle}"/></p>
                        <p/>
                        <p><h:outputText value="#{msgs.aliceAuthor}"/></p>
                        <p/>
                        <p><h:outputText value="#{msgs.alicePublication}"/></p>
                    </p:layoutUnit>
                </p:layout>


            </p:fieldset>
            <br/>
            <p:fieldset legend="#{msgs.adventures}" toggleable="true" toggleSpeed="500">
                <p:ajax event="toggle" update="cal"  />

                <p:layout style="min-width:600px;min-height:230px;">
                    <p:layoutUnit position="west" resizable="true" size="170" minSize="170" maxSize="300">
                        <h:commandLink id="adventures" action="download">
                            <p:graphicImage name="images/adventure.jpg" />
                        </h:commandLink>
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p><h:outputText value="#{msgs.adventuresTitle}"/></p>
                        <p/>
                        <p><h:outputText value="#{msgs.adventuresAuthor}"/></p>
                        <p/>
                        <p><h:outputText value="#{msgs.adventuresPublication}"/></p>
                    </p:layoutUnit>
                </p:layout>

            </p:fieldset>
        </h:form>
    </h:body>
</html>

