<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.pageTitleClientDisplay}</title>

    </h:head>
    <h:body>
        <h:form>
            <h:dataTable value="#{accountJpaController.findAccountEntities()}" var="accounts"
                         styleClass="clients" headerClass="clientHeader"
                         columnClasses="clientId,commonName" rowClasses="oddrow,evenrow">
                <h:column>
                    <f:facet name="header">#{msgs.clientIdHeader}</f:facet>
                        #{accounts.id}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.emailAddressHeader}</f:facet>
                        #{accounts.email}
                </h:column>
                <h:column>
                    <f:facet name="header">password</f:facet>
                        #{accounts.password}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.firstNameHeader}</f:facet>
                        #{accounts.firstname}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.lastNameHeader}</f:facet>
                        #{accounts.lastname}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.addressHeader}</f:facet>
                        #{accounts.address}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.cityHeader}</f:facet>
                        #{accounts.city}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.provinceHeader}</f:facet>
                        #{accounts.province}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.countryHeader}</f:facet>
                        #{accounts.country}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.zipHeader}</f:facet>
                        #{accounts.zip}
                </h:column>

            </h:dataTable>
        </h:form>
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
    </h:body>
</html>

