<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.pageTitleLoginPage}</title>
    </h:head>
    <h:body>
        
        <p:growl  id="growl" showDetail="false" sticky="true" />
        <h:form id="loginForm" >
            <h:panelGrid columns="1" >
                <p:panel header="#{msgs.signin}" >
                    <h:panelGrid columns="2">
                        <p:outputLabel for="email" value="#{msgs.emailAddressHeader}:" />
                        <p:inputText id="email" value="#{accountBacking.email}" required="true" requiredMessage="#{msgs.required}" label="email" />
                        <p:outputLabel for="password" value="#{msgs.password}:" />
                        
                        <p:password id="password" value="#{accountBacking.password}" required="true" requiredMessage="#{msgs.required}" label="password"/>
                    </h:panelGrid>
                    <p:commandButton value="#{msgs.signin}" action="#{accountBacking.login}" update="loginForm" ajax="false" />
                </p:panel>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

