<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.pageTitleRegistratioPage}</title>
    </h:head>
    <h:body>
        <h:form id="signupForm">
            <p:growl  id="growl" showDetail="false" sticky="true" />
            <h:panelGrid columns="2" styleClass="centered-panel" >
                <p:panel id="primepanel" header="#{msgs.signup}" >

                    <h:panelGrid columns="2" cellpadding="1" border="0" >
                        <p:outputLabel for="email" value="#{msgs.emailAddressHeader}:" />
                        <p:inputText id="email" value="#{accountBacking.account.email}" required="true" requiredMessage="#{msgs.required}"  validatorMessage="#{msgs.emailFormat}">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            <f:validateLength maximum="50" />
                        </p:inputText>
                       

                        <p:outputLabel for="password" value="#{msgs.password}:" />
                        <p:password id="password" value="#{accountBacking.account.password}" feedback="true"
                                    required="true" maxlength="12" promptLabel="#{msgs.passwordPrompt}"
                                    weakLabel="#{msgs.weak}" goodLabel="#{msgs.good}" strongLabel="#{msgs.strong}"
                                    requiredMessage="#{msgs.required}" match="password2"/>
                        

                        <p:outputLabel for="password2" value="#{msgs.confirm}"/>
                        <p:password id="password2" label="#{msgs.confirm}"
                                    value="#{accountBacking.account.password}" feedback="false"
                                    required="true" maxlength="12" requiredMessage="#{msgs.required}"/>
                        
                        <p:outputLabel for="firstName" value="#{msgs.firstNameHeader}" />
                        <p:inputText id="firstName" value="#{accountBacking.account.firstname}" required="true" requiredMessage="#{msgs.required}">
                            <f:validateLength maximum="20" />
                        </p:inputText>
                       

                        <p:outputLabel for="lastName" value="#{msgs.lastNameHeader}" />
                        <p:inputText id="lastName" value="#{accountBacking.account.lastname}" required="true" requiredMessage="#{msgs.required}" >
                            <f:validateLength maximum="20" />
                        </p:inputText>
                       

                        <p:outputLabel for="address" value="#{msgs.addressHeader}" /> 
                        <p:inputText id="address" value="#{accountBacking.account.address}" required="true" requiredMessage="#{msgs.required}" >
                            <f:validateLength maximum="100" />
                        </p:inputText>
                       
                        <p:outputLabel for="city" value="#{msgs.cityHeader}" />
                        <p:inputText id="city" value="#{accountBacking.account.city}" required="true" requiredMessage="#{msgs.required}" >
                            <f:validateLength maximum="30" />
                        </p:inputText>
                      
                        <p:outputLabel for="procince" value="#{msgs.provinceHeader}" />
                        <p:inputText id="procince" value="#{accountBacking.account.province}" required="true" requiredMessage="#{msgs.required}" >
                            <f:validateLength maximum="30" />
                        </p:inputText>
                        

                        <p:outputLabel for="country" value="#{msgs.countryHeader}" />
                        <p:inputText id="country" value="#{accountBacking.account.country}" required="true" requiredMessage="#{msgs.required}" >
                            <f:validateLength maximum="30" />
                        </p:inputText>
                       

                        <p:outputLabel for="zip" value="#{msgs.zipHeader}" />
                        <p:inputText id="zip" value="#{accountBacking.account.zip}" required="true" requiredMessage="#{msgs.required}" >
                            <f:validateLength maximum="10" />
                        </p:inputText>
                       
                    </h:panelGrid>
                    <p:commandButton value="#{msgs.reset}" type="reset" />
                    <p:commandButton value="#{msgs.submit}" action="#{accountBacking.createAccount()}" ajax="false" />


                </p:panel>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

